.header {
  width: 100%;
  background: url(../assets/sunset1.jpg);
  background-size: cover;
  background-position: bottom;

  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/*---------Navegacion-----------*/
.header__nav {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  font-size: 12px;
  height: 50px;
}
.header__navLink {
  padding: 10px;
  margin-right: 10px;
  text-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.header__navLink:hover {
  color: orange;
}
/*---------Info-------------*/
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__info > h1 {
  font-size: 90px;
  padding: 10px;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}
.header__info > p {
  margin-left: 20px;
  padding: 10px;
  color: lightgray;
  font-size: 18px;
  text-shadow: 0 0 0 1px black;
}
.header__infoIcons {
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__infoIcons a {
  margin-right: 30px;
  transition: 300ms all;
}
.header__infoIcons > a:hover {
  transform: scale(1.2);
}
/*----------Botón-----------*/
.header__more {
  margin-bottom: 40px;
  cursor: pointer;
  transition: 300ms all;
}
.header__more:hover {
  transform: scale(1.2);
}

/*------MEDIA QUERIES---------*/
@media (max-width: 900px) {
  .header__info > h1 {
    font-size: 60px;
  }
  .header__info > p {
    font-size: 13px;
    padding: 20px;
  }
}
@media (max-width: 550px) {
  .header_nav {
    width: 100%;
  }
  .header {
    background: url(../assets/sunsetm.jpg);
    background-position: bottom;
  }

  .header__info > h1 {
    font-size: 50px;
    padding: 20px;
  }
  .header__info > p {
    font-size: 13px;
    padding: 20px;
  }
  .header__more {
    padding-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .header__info > h1 {
    font-size: 35px;
  }
  .header__info > p {
    padding-right: 30px;
    margin-left: 30px;
  }
  .header__navLink {
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
  }
}
@media (max-width: 350px) {
  .header__navLink {
    letter-spacing: 1.5px;
    margin: 10px 0;
    padding: 5px;
  }
}
